label {
    display: block;
    color: gray;
    font-weight: 500 !important;
}

.ui-multiselect-label {
    font-weight: 500 !important;
}

.at100-col {
    width: 100%;
}

.left {
    width: 200px;
    float: left;
}

.right {
    margin-left: 200px;
}

.clear {
    clear: both;
}

.act-hd {
    font-weight: bold;
}

.act-ct {
    margin-bottom: 10px;
}

.act-border {
    /*border-radius: 25px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;*/
}

textarea {
    height: 100px;
}

.act-hdr {
    margin-top: 2px;
}

.form-control {
    background: #eeeeef;
    color: #676a6e;
}
.ui-multiselect .ui-multiselect-label{
  font-weight: 400;
}
