<div class="row">
    <div class="col-lg-3 at-panel">
        <p-panel header="Reference" [toggleable]="true" [collapsed]="false">
            <p-dropdown [options]="refList" [(ngModel)]="selectedRef" [style]="{'width':'100%'}" (onChange)="refStatusChanged($event)"></p-dropdown>
        </p-panel>
        <p-panel header="Organization" [toggleable]="true" [collapsed]="false">
            <table class="table package-table stats">
                <tbody>
                    <tr *ngIf="deptStatsModel.length>0">
                        <th (click)="setStatsActByDept($event,dt2,null)" id="dpt-all" class="st-th">ORG</th>
                        <th (click)="setStatsActByDept($event,dt2,'OD')" id="dpt-od" class="OverDue">Over Due</th>
                        <th (click)="setStatsActByDept($event,dt2,'NA')" id="dpt-na" class="NeedAttention">Need Att</th>
                        <th (click)="setStatsActByDept($event,dt2,'IP')" id="dpt-ip" class="InProgress">In Prog</th>
                        <th (click)="setStatsActByDept($event,dt2,'CP')" id="dpt-cp" class="Comp">Complete</th>
                    </tr>
                    <tr *ngFor="let model of deptStatsModel; let i=index">
                        <td id="dpt-1-{{i}}" (click)="setActivitiesData($event,model, 'all','DPT')">{{model.deptName}}</td>
                        <td id="dpt-2-{{i}}" (click)="setActivitiesData($event,model, 'OD','DPT')">{{model.overDue}}</td>
                        <td id="dpt-3-{{i}}" (click)="setActivitiesData($event,model, 'NA','DPT')">{{model.needAtt}}</td>
                        <td id="dpt-4-{{i}}" (click)="setActivitiesData($event,model, 'IP','DPT')">{{model.inProg}}</td>
                        <td id="dpt-5-{{i}}" (click)="setActivitiesData($event,model, 'CP','DPT')">{{model.complete}}</td>
                    </tr>
                    <tr *ngIf="deptStatsModel.length==0">
                        <td style="text-align: left" colspan="5">No records found</td>
                    </tr>
                </tbody>
            </table>
        </p-panel>
        <p-panel header="Activities" [toggleable]="true" [collapsed]="refActExpand">
            <div style="margin: 0 auto;text-align: center;">
                <label class="radio-inline"><input  type="radio" pTooltip="Display All" name="optradio" checked="checked" (click)="setStats(dt2,null)" > All</label>
                <label class="radio-inline"><input type="radio" pTooltip="Over Due"  name="optradio" (click)="setStats(dt2,'OD')"> <i class="fa fa-flag OD" aria-hidden="true"></i></label>
                <label class="radio-inline"><input type="radio" pTooltip="Need Attention" name="optradio" (click)="setStats(dt2,'NA')"><i class="fa fa-flag NA" aria-hidden="true"></i></label>
                <label class="radio-inline"><input type="radio" pTooltip="In Progress" name="optradio" (click)="setStats(dt2,'IP')"><i class="fa fa-flag IP" aria-hidden="true"></i></label>
                <label class="radio-inline"><input type="radio" pTooltip="Completed" name="optradio" (click)="setStats(dt2,'CP')"><i class="fa fa-flag CP" aria-hidden="true"></i></label>
            </div>
            <p-dataTable [value]="refActivities" [rows]="7" [paginator]="true" sortMode="multiple" #dt2>
                <p-column field="title" header="Title" [filter]="true" filterMatchMode="contains"  filterPlaceholder="Search">
                    <template let-col let-act="rowData" pTemplate="body">
                            {{act[col.field]|truncate:40 }}
                        </template>
                </p-column>
                <p-column field="deptName" styleClass="text-center" header="Org" [style]="{'width':'50px'}" [sortable]="true">
                </p-column>
                <p-column field="percentage" styleClass="text-center"  header="%" [style]="{'width':'40px'}" [sortable]="true">
                </p-column>
                <p-column field="stats" styleClass="col-button" [style]="{'width':'40px'}">
                    <template pTemplate="header">
                                                <i class="fa fa-flag"></i>
                                            </template>
                    <ng-template let-col let-act="rowData" pTemplate="body">
                        <i class="fa fa-flag {{act.stats}}" aria-hidden="true"></i>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button text-center" [style]="{'width':'40px'}">
                    <ng-template pTemplate="header">
                        <i class="fa fa-cogs"></i>
                    </ng-template>
                    <ng-template let-act="rowData" pTemplate="body">
                        <button type="button" class="pull-left" title="Activity Detail" (click)="viewActDetail(act)" pButton icon="fa-eye"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </p-panel>
    </div>
    <div class="col-lg-6 at-panel">
        <p-panel [toggleable]="false" [style]="{'max-height':'740px'}">
            <p-header>
                {{detailHeading}}
                <button type="button" *ngIf="showDetail" class="pull-right" (click)="showActDetail(selectedActivity._id)" title="Detail" pButton icon="fa-eye"></button>
                <button type="button" *ngIf="showDetail" class="pull-right" (click)="changeDetailView()" title="Over View" pButton icon="fa-tasks"></button>
            </p-header>
            <div *ngIf="!showDetail">
                <div class="row">
                    <div class="panel panel-default" style="margin:20px;">
                        <table class="st-table table table-condensed table-hover stats">
                            <thead>
                                <tr>
                                    <th (click)="setStatsWithAllAct($event,dt2,null)" id="all-ref" class="tabco1">Reference</th>
                                    <th (click)="setStatsWithAllAct($event,dt2,'OD')" id="od-ref" class="tabco2"> Over Due</th>
                                    <th (click)="setStatsWithAllAct($event,dt2,'NA')" id="na-ref" class="tabco3">Need Attention</th>
                                    <th (click)="setStatsWithAllAct($event,dt2,'IP')" id="ip-ref" class="tabco4">In Progress</th>
                                    <th (click)="setStatsWithAllAct($event,dt2,'CP')" id="cp-ref" class="tabco5">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of catStatsModel;let i=index">
                                    <td class="tabco1 " id="ref-1-{{i}}" (click)="setActivitiesData($event,item, 'all','CAT')">{{item.catName}}</td>
                                    <td class="tabco2 " id="ref-2-{{i}}" (click)="setActivitiesData($event,item, 'OD','CAT') ">{{item.overDue}}</td>
                                    <td class="tabco3 " id="ref-3-{{i}}" (click)="setActivitiesData($event,item, 'NA','CAT') ">{{item.needAtt}}
                                    </td>
                                    <td class=" tabco4 " id="ref-4-{{i}}" (click)="setActivitiesData($event,item, 'IP','CAT') ">{{item.inProg}}
                                    </td>
                                    <td class="tabco5 " id="ref-5-{{i}}" (click)="setActivitiesData($event,item, 'CP','CAT') ">{{item.complete}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--row-->
            </div>
            <div *ngIf=" showDetail ">
                <div *ngIf="actDataAvailable ">
                    <table class="table detail">
                        <tbody>
                            <tr>
                                <th>Champion</th>
                                <td>
                                    <span *ngFor="let chmp of selectedActivity.assignee ; let isLast=last ">{{chmp}}{{isLast ? '' : ', '}}</span>
                                </td>
                                <th>Backup</th>
                                <td>
                                  <span *ngFor="let buchmp of selectedActivity.buAssignee ; let isLast=last ">{{buchmp}}{{isLast ? '' : ', '}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <td> {{selectedActivity.startDate|date:'shortDate'}}</td>
                                <th>End Date</th>
                                <td> {{selectedActivity.endDate|date:'shortDate'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin: 0 auto;text-align: center;">
                        <label class="radio-inline"><input type="radio" pTooltip="Show All " name="optradio" checked="checked" (click)="setStats(dt,null)" > All</label>
                        <label class="radio-inline"><input type="radio" pTooltip="Over Due" name="optradio" (click)="setStats(dt,'Over Due')"> <i class="fa fa-flag OD" aria-hidden="true"></i></label>
                        <label class="radio-inline"><input type="radio" pTooltip="Need Attention" name="optradio" (click)="setStats(dt,'Need Attention')"><i class="fa fa-flag NA" aria-hidden="true"></i></label>
                        <label class="radio-inline"><input type="radio" pTooltip="In Progress" name="optradio" (click)="setStats(dt,'In Progress')"><i class="fa fa-flag IP" aria-hidden="true"></i></label>
                        <label class="radio-inline"><input type="radio" pTooltip="Completed" name="optradio" (click)="setStats(dt,'Completed')"><i class="fa fa-flag CP" aria-hidden="true"></i></label>
                    </div>
                    <!--<p-accordion [multiple]="true " [style]="{ 'width': '100%'} ">-->
                    <!--<p-accordionTab *ngIf="scopingBucket.length>0" header="Scoping">-->
                    <p-dataTable [value]="phasesBucket" [rows]="15" [paginator]="true" sortMode="multiple" #dt>
                        <p-column field="phase" header="Phase" [sortable]="true" [style]="{'width':'110px'}">
                            <template let-col let-act="rowData" pTemplate="body">
                                           <span > {{act[col.field] }} </span>
                                            </template>
                        </p-column>
                        <p-column field="title" header="Title" [filter]="true" filterMatchMode="contains"  filterPlaceholder="Search">
                            <template let-col let-act="rowData" pTemplate="body">
                                           <span > {{act[col.field]|truncate:40 }} </span>
                                            </template>
                        </p-column>
                        <p-column field="startDate" header="Start Date" [style]="{'width':'80px'}">
                            <ng-template let-col let-act="rowData" pTemplate="body">
                                <span >    {{act[col.field]|date:'shortDate' }} </span>
                            </ng-template>
                        </p-column>
                        <p-column field="endDate" header="End Date" [style]="{'width':'80px'}">
                            <ng-template let-col let-act="rowData" pTemplate="body">
                                <span >      {{act[col.field]|date :'shortDate'}} </span>
                            </ng-template>
                        </p-column>
                        <p-column field="percentage" styleClass="text-center"  header="%" [style]="{'width':'40px'}" [sortable]="true">
                            <ng-template let-col let-act="rowData" pTemplate="body">
                                <span >      {{act[col.field]}} </span>
                            </ng-template>
                        </p-column>
                        <p-column field="delta" styleClass="text-center"  header="Δ" [style]="{'width':'40px'}" [sortable]="true">
                            <ng-template let-col let-act="rowData" pTemplate="body">
                                <span >      {{act[col.field]}} </span>
                            </ng-template>
                        </p-column>
                        <p-column field="stats" styleClass="col-button text-center" [style]="{'width':'40px'}">
                            <ng-template pTemplate="header">
                                <i class="fa fa-flag"></i>
                            </ng-template>
                            <ng-template let-col let-act="rowData" pTemplate="body">
                                <i class="fa fa-flag {{act.stats}}" aria-hidden="true"></i>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" styleClass="text-center" [style]="{'width':'40px'}">
                            <ng-template pTemplate="header">
                                <i class="fa fa-cogs"></i>
                            </ng-template>
                            <ng-template let-act="rowData" pTemplate="body">
                                <button type="button" class="pull-left" title="Activity Detail" (click)="viewTask(act._id)" pButton icon="fa-eye"></button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-lg-3 at-panel" style="max-height: 700px; overflow-y: auto;">
        <div *ngIf="tasks.length > 0" class=" act-pad ">
            <p-panel header="Progress updates" [toggleable]="true" [collapsed]="false">
                <p-dataTable [value]="tasks" [rows]="7" [paginator]="true">
                    <p-column [style]="{'border-bottom':'2px solid #676a6e','padding':'10px'}" field="desc" header="Updates" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
                        <ng-template let-col let-act="rowData" pTemplate="body">
                            {{act[col.field]}}
                            <br/>
                            <span class="act-sm">{{act.createdBy}}, {{act.createdAt|date:'short'}} </span><span class="act-bs"> {{act.percentage}}% completed</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-panel>
        </div>
    </div>
</div>
<p-dialog header="Activity Detail" [(visible)]="displayActivity" modal="modal" width="800" height="600" responsive="true">

        <div class="col-lg-6 act-pad " style="overflow: auto; width:100%; height:500px;margin:0 auto;background: white;padding:30px;">
        <h3 style="color:gray">{{activity.title}}</h3>
        <table class="act-table">
            <tr>
                <th>Description</th>
                <td> {{activity.desc}}</td>
            </tr>
             <tr>
                <th>Reference</th>
                <td>  {{activity.ref}}</td>
            </tr>
             <tr>
                <th>Organization(s)</th>
                <td>
                  {{activity.dept}}
                </td>
            </tr>
             <tr>
                <th>Status</th>
                <td>  {{activity.status}}</td>
            </tr>
             <tr>
                <th>Start Date</th>
                <td>  {{activity.startDate|date }}</td>
            </tr>
             <tr>
                <th>End Date</th>
                <td>{{activity.endDate|date }}</td>
            </tr>
             <tr>
                <th>Phase</th>
                <td>{{activity.phase }}</td>
            </tr>
             <tr>
                <th>Completion(%)</th>
                <td> {{activity.percentage}}%</td>
            </tr>
             <tr>
                <th>Delta</th>
                <td> {{activity.delta}}%</td>
            </tr>
             <tr>
                <th>Assignee</th>
                <td> {{activity.assignee}}</td>
            </tr>
           <ng-container  *ngIf="activity.level==0">
              <tr>
                <th>Sponsers</th>
                <td> {{activity.sponsor}}</td>
            </tr>
             <tr>
                <th>Focus Area</th>
                <td> {{activity.focus}}</td>
            </tr>
             <tr>
                <th>Visibility</th>
                <td> {{activity.vis}}</td>
            </tr>
             <tr>
                <th>Cost</th>
                <td>
                   {{activity.cost}}
                </td>
            </tr>
            <tr>
                <th>Cost Saving</th>
                <td>
                   {{activity.costSaving}}
                </td>
            </tr>
             <tr>
                <th>Benefits</th>
                 <td>
                   {{activity.benefit}}
                </td>
             </tr>
              <tr>
                <th>KPI</th>
                 <td>
                   {{activity.kpi}}
                </td>
             </tr>
              <tr>
                <th>Chartered</th>
                 <td>
                    {{activity.chartered?'Yes':'No'}}
                </td>
             </tr>
              <tr>
                <th>Monitored</th>
                 <td>
                  {{activity.monitored?'Yes':'No'}}
                </td>
             </tr>
              <tr>
                <th>Next Step</th>
                 <td>
                {{activity.nextStep}}
                </td>
             </tr>
              <tr>
                <th>Out of Scope</th>
                 <td>
                   {{activity.outOfScope}}
                </td>
             </tr>
               <tr>
                <th>Project detail</th>
                 <td>
                   {{activity.proDetail}}
                </td>
             </tr>
              <tr>
                <th>Challenges</th>
                 <td>
                   {{activity.challenge}}
                </td>
             </tr>
              <tr>
                <th>Documentation Link</th>
                 <td>
                   {{activity.docLink}}
                </td>
             </tr>
           </ng-container>
        </table>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            Created by: {{activity.createdBy}} on {{activity.createdAt|date:'short'}}
        </div>
        <div class="clear"></div>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            last updated by: {{activity.updatedBy}} on {{activity.updatedAt|date:'short'}}
        </div>
        <div class="clear"></div>
    </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayActivity=false" label="Close"></button>

            </div>
        </p-footer>
</p-dialog>
