.at-panel {
    padding: 2px;
}

.act-hd {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    color: black;
}

.row>div {
    border: 1px solid #DCDCDC;
}

.label {
    /*display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;*/
    color: #711111;
    /*font-weight: bold;*/
    /*text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;*/
}

.st-table {
    /*max-width: 800px;
    margin: 10 auto;*/
    box-shadow: 10px 10px 5px #888888;
}

.st-table td {
    border-top: 1px solid #ECE8DA !important;
    border-right: 1px solid #ECE8DA !important;
    font-weight: bold !important;
}

.st-table>td {
    font-size: 18px;
}

.tabco1 {
    background: #fff;
    /*width: 40%;*/
    color: #676a6e;
    padding: 10px !important;
}

th.tabco1 {
    background: #fff;
    padding: 20px 10px !important;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #3d3f42;
}

.tabco2 {
    color: #f68d2e;
    text-align: center;
}

th.tabco2 {
    background: #f68d2e;
    color: #3d3f42;
    padding: 20px 10px !important;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

.tabco3 {
    color: #ffd100;
    text-align: center;
    /*color: #fff;*/
}

th.tabco3 {
    background: #ffd100;
    color: #3d3f42;
    padding: 20px 10px !important;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

.tabco5 {
    color: #84bd00;
    text-align: center;
    /*color: #fff;*/
}

th.tabco5 {
    background: #84bd00;
    color: #3d3f42;
    padding: 20px 10px !important;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

.tabco4 {
    color: #00a3e0;
    text-align: center;
    /*color: #fff;*/
}

th.tabco4 {
    background: #00a3e0;
    color: #3d3f42;
    padding: 20px 10px !important;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

.stats td:hover {
    background-color: #dadada;
    color: #000000;
    cursor: pointer;
}

.stats th:hover {
    background-color: #dadada;
    color: #000000;
    cursor: pointer;
}


/*.table-hover tr:hover td {
    background: grey !important;
    cursor: pointer;
    color: green;
}*/

.act-sm {
    font-size: smaller;
    font-style: italic;
    color: #676a6e !important;
}

.act-bs {
    font-size: smaller;
    font-weight: bold;
    color: #676a6e !important;
}

.act-pad {
    padding: 5px;
}


/*.package-table tbody tr:nth-child(odd) {
    background: #FAFAFA;
}*/

.package-table th {
    font-size: x-small;
}

.package-table td {
    border-top: 0px !important;
    border-right: 1px solid lightgray !important;
    text-align: center;

}


/*.package-table tbody tr:nth-child(even) {
    background: #DFDFDF;
}*/

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    table td:before {

        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.Over,
.OD {
    color: #f68d2e !important;
}

.Need,
.NA {
    color: #ffd100 !important;
}

.Progress,
.IP {
    color: #00a3e0 !important;
}

.CP,
.Completed {
    color: #84bd00 !important;
}

.detail table,
th,
td {
    border: 1px solid lightgrey;
}

.selected {
    background: #c0c0c0 !important;
}

.OverDue {
    background: #f68d2e !important;
}

.NeedAttention {
    background: #ffd100 !important;
}

.Comp {
     background: #84bd00 !important;
}

.InProgress {

    background: #00a3e0 !important;

}

.ui-datatable-odd {
    background: #ffffff !important;
}

.ui-datatable-even {
    background: #F2F5F9 !important;
}
/*for activity view on popup*/
.act-table table,td,
    th
    {
        border: none !important;
    }
.act-table {
  width:100%;
  border: none;

}
.act-table  th {
        width: 20%;
        /*padding: 20px 10px !important;*/
        font-weight: bolder;
        text-transform: uppercase;
        color: #8b8d8e;
        border-top: 3px solid lightgray !important;
         text-align:right;
        vertical-align: top;
    }
  .act-table tr{
    border: none;
  }
    .act-table td {
        width: 80%;
        padding: 0px 5px 20px 40px !important;
        color:gray;
        text-align: left;
        border:none !important;


    }
