.at-panel {
    padding: 2px;
}

.act-hd {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    color: #711111;
}

.row>div {
    border: 1px solid #DCDCDC;
}

.label {
    /*display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;*/
    color: #711111;
    font-weight: bold;
    /*text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;*/
}

.OverDue {
    color: #FF3333 !important;
}

.NeedAttention {
    color: #FFCC33 !important;
}

.Completed {
    color: #66CC66 !important;
}

.InProgress {
    color: #00CCFF !important;
}

.st-table {
    max-width: 800px;
    margin: 10 auto;
    box-shadow: 10px 10pxpx 10 px 0px red;
    border-radius: 25px;
}

.st-table td {
    border-top: 1px solid #ECE8DA !important;
    border-right: 1px solid #ECE8DA !important;
}

.st-table>td {
    font-size: 18px;
}

.tabco1 {
    background: #fff;
    width: 40%;
    padding: 10px !important;
}

th.tabco1 {
    background: #fff;
    padding: 32px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.tabco2 {
    /*background: #EF5350;*/
    text-align: center;
    /*color: #fff;*/
}

th.tabco2 {
    background: #ce0300;
    padding: 20px 5px !important;
    font-size: 18px;
    text-transform: uppercase;
}

.tabco3 {
    /*background: #c7d600;*/
    text-align: center;
    /*color: #fff;*/
}

th.tabco3 {
    background: #919b01;
    padding: 20px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
}

.tabco5 {
    /*background: #00C853;*/
    text-align: center;
    /*color: #fff;*/
}

th.tabco5 {
    background: #018234;
    padding: 20px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
}

.tabco4 {
    /*background: #039BE5;*/
    text-align: center;
    /*color: #fff;*/
}

th.tabco4 {
    background: #006391;
    padding: 20px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
}

td:hover {
    background-color: #b9f7f7;
    color: #000000;
    cursor: pointer;
}


/*.table-hover tr:hover td {
    background: grey !important;
    cursor: pointer;
    color: green;
}*/

.act-sm {
    font-size: smaller;
    font-style: italic;
}

.act-bs {
    font-size: smaller;
    font-weight: bold;
}

.act-pad {
    padding: 5px;
}

.package-table tbody tr:nth-child(odd) {
    background: #FAFAFA;
}

.package-table th {
    font-size: x-small;
}

.package-table td {
    border-top: 0px !important;
    border-right: 1px solid #fff !important;
    text-align: right;
}

.package-table tbody tr:nth-child(even) {
    background: #DFDFDF;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.Over {
    color: #FF3333 !important;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    table td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.Over,
.OD {
    color: #FF3333 !important;
}

.Need,
.NA {
    color: yellow !important;
}