<div class="row">
    <div class="col-lg-3 at-panel">
        <p-panel header="{{refSelectTitle}}" [toggleable]="true" [collapsed]="refSelectExpand">
            <p-dropdown [options]="refList" [(ngModel)]="selectedRef" [style]="{'width':'100%'}" (onChange)="refStatusChanged($event)"></p-dropdown>
        </p-panel>
        <p-panel header="{{deptSelectTitle}}" [toggleable]="true" [collapsed]="true">

            <table class="table package-table">
                <tbody>
                    <tr *ngIf="deptStatsModel.length>0">
                        <th class="st-th"></th>
                        <th>Over Due</th>
                        <th>Need Att</th>
                        <th>In Prog</th>
                        <th>Complete</th>
                    </tr>
                    <tr *ngFor="let model of deptStatsModel">
                        <td (click)="setActivitiesData(model, 'all','DPT')">{{model.deptName}}</td>
                        <td (click)="setActivitiesData(model, 'OD','DPT')">{{model.overDue}}</td>
                        <td (click)="setActivitiesData(model, 'NA','DPT')">{{model.needAtt}}</td>
                        <td (click)="setActivitiesData(model, 'IP','DPT')">{{model.inProg}}</td>
                        <td (click)="setActivitiesData(model, 'CP','DPT')">{{model.complete}}</td>
                    </tr>
                    <tr *ngIf="deptStatsModel.length==0">
                        <td style="text-align: left" colspan="5">No records found</td>
                    </tr>

                </tbody>
            </table>


        </p-panel>
        <p-panel header="Activities " [toggleable]="true" [collapsed]="refActExpand">
            <p-dataTable [value]="refActivities" [rows]="7" [paginator]="true" sortMode="multiple">
                <p-column field="title" header="Title" [filter]="true" filterPlaceholder="Search">
                    <template let-col let-act="rowData" pTemplate="body">
                            {{act[col.field]|truncate:40 }}
                        </template>
                </p-column>
                <p-column field="deptName" header="Org" [style]="{'width':'50px'}" [sortable]="true">
                </p-column>
                <p-column field="percentage" header="%" [style]="{'width':'40px'}" [sortable]="true">
                </p-column>

                <p-column field="stats" styleClass="col-button" [style]="{'width':'40px'}">
                    <template pTemplate="header">
                                                <i class="fa fa-flag"></i>
                                            </template>
                    <ng-template let-col let-act="rowData" pTemplate="body">
                        <i class="fa fa-flag {{act.stats}}" aria-hidden="true"></i>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button" [style]="{'width':'40px'}">
                    <ng-template pTemplate="header">
                        <i class="fa fa-cogs"></i>
                    </ng-template>
                    <ng-template let-act="rowData" pTemplate="body">
                        <button type="button" class="pull-left" title="Activity Detail" (click)="viewActDetail(act)" pButton icon="fa-eye"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </p-panel>
    </div>
    <div class="col-lg-6 at-panel">
        <p-panel [toggleable]="false" [style]="{'max-height':'740px'}">
            <p-header>
                {{detailHeading}}
                <button type="button" *ngIf="showDetail" class="pull-right" (click)="changeDetailView()" title="Over View" pButton icon="fa-tasks"></button>
            </p-header>
            <div *ngIf="!showDetail">
                <div class="row">
                    <div class="panel panel-default">
                        <table class="st-table table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th class="tabco1 ">Reference</th>
                                    <th class="tabco2"> Over Due</th>
                                    <th class="tabco3">Need Attention</th>
                                    <th class="tabco4">In Progress</th>
                                    <th class="tabco5">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of catStatsModel">
                                    <td class="tabco1 " (click)="setActivitiesData(item, 'all','CAT')">{{item.catName}}</td>
                                    <td class="tabco2 " (click)="setActivitiesData(item, 'OD','CAT') ">{{item.overDue}}</td>
                                    <td class="tabco3 " (click)="setActivitiesData(item, 'NA','CAT') ">{{item.needAtt}}
                                    </td>
                                    <td class=" tabco4 " (click)="setActivitiesData(item, 'IP','CAT') ">{{item.inProg}}
                                    </td>
                                    <td class="tabco5 " (click)="setActivitiesData(item, 'CP','CAT') ">{{item.complete}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--row-->
            </div>
            <div *ngIf=" showDetail ">
                <div *ngIf="actDataAvailable ">
                    <div class="container-fluid ">
                        <div class="row ">
                            <div class="col-sm-2 act-hd ">
                                Champion
                            </div>
                            <div class="col-sm-4 ">
                                <span *ngFor="let chmp of selectedActivity.assignee ; let isLast=last ">{{chmp}}{{isLast ? '' : ', '}}</span>
                            </div>
                            <div class="col-sm-2 act-hd ">
                                Backup
                            </div>
                            <div class="col-sm-4 ">
                                0
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-2 act-hd ">
                                Start Date
                            </div>
                            <div class="col-sm-2 ">
                                {{selectedActivity.startDate|date:'shortDate'}}
                            </div>
                            <div class="col-sm-2 act-hd ">
                                End Date
                            </div>
                            <div class="col-sm-2 ">
                                {{selectedActivity.endDate|date:'shortDate'}}
                            </div>
                            <div class="col-sm-2 act-hd ">
                                Completion
                            </div>
                            <div class="col-sm-2 ">
                                {{selectedActivity.percentage}}%
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-2 act-hd ">
                                Focus Area
                            </div>
                            <div class="col-sm-4 ">
                                {{selectedActivity.focus}}
                            </div>
                            <div class="col-sm-2 act-hd ">
                                Status
                            </div>
                            <div class="col-sm-4 ">
                                {{selectedActivity.status}}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4 act-hd ">
                                Implementation Cost
                            </div>
                            <div class="col-sm-2 ">
                                {{selectedActivity.cost==null?0:selectedActivity.cost}}
                            </div>
                            <div class="col-sm-4 act-hd ">
                                Potentital Cost Saving
                            </div>
                            <div class="col-sm-2 ">
                                0
                            </div>
                        </div>
                        <div style="margin: 0 auto;text-align: center;">
                            <label class="radio-inline"><input type="radio" name="optradio" checked="checked" (click)="setStats(dt,'all')" > All</label>
                            <label class="radio-inline"><input type="radio" name="optradio" (click)="setStats(dt,'Over Due')"> <i class="fa fa-flag OD" aria-hidden="true"></i></label>
                            <label class="radio-inline"><input type="radio" name="optradio" (click)="setStats(dt,'Need Attention')"><i class="fa fa-flag NA" aria-hidden="true"></i></label>
                            <label class="radio-inline"><input type="radio" name="optradio" (click)="setStats(dt,'In Progress')"><i class="fa fa-flag IP" aria-hidden="true"></i></label>
                            <label class="radio-inline"><input type="radio" name="optradio" (click)="setStats(dt,'Completed')"><i class="fa fa-flag CP" aria-hidden="true"></i></label>
                        </div>
                        <!--<p-accordion [multiple]="true " [style]="{ 'width': '100%'} ">-->
                        <!--<p-accordionTab *ngIf="scopingBucket.length>0" header="Scoping">-->
                        <p-dataTable [value]="phasesBucket" [rows]="15" [paginator]="true" sortMode="multiple" #dt>
                            <p-column field="phase" header="Phase" [sortable]="true">
                                <template let-col let-act="rowData" pTemplate="body">
                                           <span class="{{act.stats}}"> {{act[col.field] }} </span>
                                            </template>
                            </p-column>
                            <p-column field="title" header="Title" [filter]="true" filterPlaceholder="Search">
                                <template let-col let-act="rowData" pTemplate="body">
                                           <span class="{{act.stats}}"> {{act[col.field]|truncate:40 }} </span>
                                            </template>
                            </p-column>
                            <p-column field="startDate" header="Start Date" [style]="{'width':'100px'}">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    <span class="{{act.stats}}">    {{act[col.field]|date:'shortDate' }} </span>
                                </ng-template>
                            </p-column>
                            <p-column field="endDate" header="End Date" [style]="{'width':'100px'}">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    <span class="{{act.stats}}">      {{act[col.field]|date :'shortDate'}} </span>
                                </ng-template>
                            </p-column>
                            <p-column field="percentage" header="%" [style]="{'width':'40px'}" [sortable]="true">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    <span class="{{act.stats}}">      {{act[col.field]}} </span>
                                </ng-template>
                            </p-column>

                            <p-column field="stats" styleClass="col-button" [style]="{'width':'40px'}">
                                <ng-template pTemplate="header">
                                    <i class="fa fa-flag"></i>
                                </ng-template>
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    <i class="fa fa-flag {{act.stats}}" aria-hidden="true"></i>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="col-button" [style]="{'width':'40px'}">
                                <ng-template pTemplate="header">
                                    <i class="fa fa-cogs"></i>
                                </ng-template>
                                <ng-template let-act="rowData" pTemplate="body">
                                    <button type="button" class="pull-left" title="Activity Detail" (click)="viewTask(act._id)" pButton icon="fa-eye"></button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                        <!--</p-accordionTab>
                            <p-accordionTab *ngIf="designBucket.length>0" header="Design">
                                <p-dataTable [value]="designBucket" [rows]="5" [paginator]="true" sortMode="multiple">
                                    <p-column field="title" header="Title" [filter]="true" filterPlaceholder="Search">
                                        <template let-col let-act="rowData" pTemplate="body">
                                           <span class="{{act.stats}}"> {{act[col.field]|truncate:40 }} </span>
                                            </template>
                                    </p-column>
                                    <p-column field="startDate" header="Start Date" [style]="{'width':'100px'}">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">    {{act[col.field]|date:'shortDate' }} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="endDate" header="End Date" [style]="{'width':'100px'}">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]|date :'shortDate'}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="percentage" header="%" [style]="{'width':'40px'}" [sortable]="true">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="stats" header="Status" [style]="{'width':'60px'}" [sortable]="true">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'width':'40px'}">
                                        <ng-template pTemplate="header">
                                            <i class="fa fa-cogs"></i>
                                        </ng-template>
                                        <ng-template let-act="rowData" pTemplate="body">
                                            <button type="button" class="pull-left" title="Activity Detail" (click)="viewTask(act._id)" pButton icon="fa-eye"></button>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </p-accordionTab>
                            <p-accordionTab *ngIf="implementBucket.length>0" header="Implementation">
                                <p-dataTable [value]="implementBucket" [rows]="5" [paginator]="true" sortMode="multiple">
                                    <p-column field="title" header="Title" [filter]="true" filterPlaceholder="Search">
                                        <template let-col let-act="rowData" pTemplate="body">
                                           <span class="{{act.stats}}"> {{act[col.field]|truncate:40 }} </span>
                                            </template>
                                    </p-column>
                                    <p-column field="startDate" header="Start Date" [style]="{'width':'100px'}">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">    {{act[col.field]|date:'shortDate' }} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="endDate" header="End Date" [style]="{'width':'100px'}">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]|date :'shortDate'}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="percentage" header="%" [style]="{'width':'40px'}" [sortable]="true">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="stats" header="Status" [style]="{'width':'60px'}" [sortable]="true">
                                        <ng-template let-col let-act="rowData" pTemplate="body">
                                            <span class="{{act.stats}}">      {{act[col.field]}} </span>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'width':'40px'}">
                                        <ng-template pTemplate="header">
                                            <i class="fa fa-cogs"></i>
                                        </ng-template>
                                        <ng-template let-act="rowData" pTemplate="body">
                                            <button type="button" class="pull-left" title="Activity Detail" (click)="viewTask(act._id)" pButton icon="fa-eye"></button>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </p-accordionTab>
                        </p-accordion>-->
                        <!--<p-dataTable [value]="actChildren" expandableRows="true">
                            <p-column expander="true" styleClass="col-icon" [style]="{'width':'40px'}"></p-column>
                            <p-column field="phaseId" header="Phase">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    {{getPhaseTitleById(act[col.field])}}
                                </ng-template>
                            </p-column>
                            <p-column field="title" header="Milestone"></p-column>
                            <p-column field="startDate" header="Start Date">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    {{act[col.field]|date :'shortDate'}}
                                </ng-template>
                            </p-column>
                            <p-column field="endDate" header="End Date">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    {{act[col.field]|date :'shortDate'}}
                                </ng-template>
                            </p-column>
                            <p-column field="percentage" header="Progress">
                                <ng-template let-col let-act="rowData" pTemplate="body">
                                    <span class="{{act.status}}"> {{act[col.field]==null?0:act[col.field]}}% </span>
                                </ng-template>
                            </p-column>
                            <p-column field="status" header="Status"></p-column>
                            <ng-template let-act pTemplate="rowexpansion">
                                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-9">
                                            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-2 label">Title: </div>
                                                    <div class="ui-grid-col-10">{{act.title}}</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-2 label">Description: </div>
                                                    <div class="ui-grid-col-10">{{act.desc}}</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-2 label">Champions: </div>
                                                    <div class="ui-grid-col-10">
                                                        <span *ngFor="let chmp of act.assignee ; let isLast=last">{{chmp}}{{isLast ? '' : ', '}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataTable>-->
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-lg-3 at-panel">
        <div *ngIf="tasks.length > 0" class=" act-pad ">
            <p-panel header="Progress updates" [toggleable]="true" [collapsed]="false">
                <p-dataTable [value]="tasks" [rows]="7" [paginator]="true">
                    <p-column field="desc" header="Updates" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
                        <ng-template let-col let-act="rowData" pTemplate="body">
                            {{act[col.field]}}
                            <br/>
                            <span class="act-sm">{{act.createdBy}}, {{act.createdAt|date:'short'}} </span><span class="act-bs"> {{act.percentage}}% completed</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-panel>
        </div>
    </div>
</div>