/*.navbar-default {
    font-size: 1.15em;
    font-weight: 400;
    background-color: #006b96;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}*/

.navbar-default {
    background-color: #99D36B;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c6ffd0;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bolder;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
    text-shadow: 1px -1px 8px #b3e9ff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    /*background-color: #5b7c0c;*/
    background-color: #99D36B;
    color: white;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #002433;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.dropdown-menu {
    background-color: #6b9901;
    color: white;
    border: 0px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu>li>a {
    background-color: #6b9901;
    color: white;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #2a3a05;
    color: white;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #5a683a;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

@media (max-width: 767px) {
    .dropdown-menu>li>a {
        background-color: #d0f774;
        color: #ffffff;
    }
    .dropdown-menu>li>a:hover {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #ffffff;
        background-color: transparent;
    }
    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #5a683a;
    }
}

aa {
    color: #f5f5f5;
    text-decoration: none;
}

.anav>li>a:hover {
    text-decoration: none;
    background-color: #5fa1da;
}