<div class="row">

    <div class="col-lg-3 pull-left act-pad">

        <div class="act-box">

            <br/>
            <br/>
            <button class="btn btn-block btn-lg btn-success" (click)="createSubActivity(activity)" role="button"> Create Subactivity <span class="glyphicon glyphicon-tasks"></span></button>

            <div class="clear"></div>
            <br/>
            <br/>
            <button class="btn btn-block btn-lg btn-warning" (click)="showTaskDialog()" role="button">Progress Update <span class="glyphicon glyphicon-check"></span> </button>
            <div class="clear"></div>
        </div>

    </div>

    <div class="col-lg-6 act-pad ">

        <div class="act-box">
            <div class="clt">
                <ul>
                    <li>
                        <span *ngFor="let dpt of dept ; let isLast=last">{{dpt}}{{isLast ? '' : ', '}}</span>
                        <!--department -->
                        <ul *ngIf="parentActivity!=null">
                            <li>
                                <span class='link' (click)="viewActivity(parentActivity._id)">{{parentActivity.title}}</span>
                                <!--<a [routerLink]="['/viewActivity',parentActivity._id]">{{parentActivity.title}}</a>-->
                                <!--Parent-->
                                <ul>
                                    <li>
                                        <!--self -->
                                        <!--<a class="selected" [routerLink]="['/viewActivity',activity._id]"> {{activity.title}}</a>-->
                                        <span class='link selected' (click)="viewActivity(activity._id)">{{activity.title}}</span>
                                        <ul *ngIf="childrenActivities.length > 0">
                                            <li *ngFor="let item of childrenActivities">
                                                <span class='link' (click)="viewActivity(item._id)">{{item.title}}</span>
                                                <!--<a [routerLink]="['/viewActivity',item._id]"> {{item.title}}</a>-->
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <!-- if parent is not found -->
                        <ul *ngIf="parentActivity==null">

                            <li>
                                <!--self -->
                                <span class='link selected' (click)="viewActivity(activity._id)">{{activity.title}}</span>
                                <!--<a class="selected" [routerLink]="['/viewActivity',activity._id]"> {{activity.title}}</a>-->
                                <ul *ngIf="childrenActivities.length > 0">
                                    <li *ngFor="let item of childrenActivities">
                                        <!--<a [routerLink]="['/viewActivity',item._id]"> {{item.title}}</a>-->
                                        <span class='link' (click)="viewActivity(item._id)">{{item.title}}</span>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>



        <h3>{{activity.title}}</h3>

        <div class="clear"></div>
        <div class="left act-hd">Description </div>
        <div class="right act-ct">
            {{activity.desc}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Reference </div>
        <div class="right act-ct">
            {{category}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Department(s) </div>
        <div class="right act-ct">
            <span *ngFor="let dpt of dept ; let isLast=last">{{dpt}}{{isLast ? '' : ', '}}</span>
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Status </div>
        <div class="right act-ct">
            {{status}}
        </div>
        <div class="clear"></div>


        <div class="left act-hd act-ct">Start Date</div>
        <div class="right act-ct">
            {{activity.startDate|date }}
        </div>
        <div class="clear"></div>
        <div class="left act-hd act-ct">End Date</div>
        <div class="right act-ct">
            {{activity.endDate|date}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Phase</div>
        <div class="right act-ct">
            {{phase}}
        </div>
        <div class="clear"></div>




        <div class="left act-hd act-ct">Completion (%) </div>
        <div class="right act-ct">
            {{percentage}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Assignee </div>
        <div class="right act-ct">
            {{activity.assignee}}
        </div>
        <div class="clear"></div>
        <div *ngIf="!isChild">
            <div class="left act-hd act-ct">Sponsers </div>
            <div class="right act-ct">
                {{activity.sponsor}}
            </div>
            <div class="clear"></div>
            <div class="left act-hd act-ct">Focus Area </div>
            <div class="right act-ct">
                {{focus}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Escalation </div>
            <div class="right act-ct">
                <span *ngFor="let vis of visibility ; let isLast=last">{{vis}}{{isLast ? '' : ', '}}</span>
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Cost(MM)</div>
            <div class="right act-ct">
                {{activity.cost}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Benefit </div>
            <div class="right act-ct">
                {{activity.benefit}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct"> KPI</div>
            <div class="right act-ct">
                {{kpi}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Chartered </div>
            <div class="right act-ct">
                {{activity.chartered?'Yes':'No'}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Monitored </div>
            <div class="right act-ct">
                {{activity.monitored?'Yes':'No'}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct"> Next Step</div>
            <div class="right act-ct">
                {{activity.nextStep}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Out of Scope</div>
            <div class="right act-ct">
                {{activity.outOfScope}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Project Detail</div>
            <div class="right act-ct">
                {{activity.proDetail}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Challenges</div>
            <div class="right act-ct">
                {{activity.challenge}}
            </div>
            <div class="clear"></div>
            <div class="left act-hd act-ct">Documentation Link</div>
            <div class="right act-ct">
                {{activity.docLink}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            Created by: {{activity.createdBy}} on {{activity.createdAt|date:'short'}}
        </div>
        <div class="clear"></div>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            last updated by: {{activity.updatedBy}} on {{activity.updatedAt|date:'short'}}
        </div>
        <div class="clear"></div>

    </div>
    <div *ngIf="tasks.length > 0" class="col-lg-3 pull-right act-pad {">
        <div class="panel panel-success" style="max-height: 900px;overflow-y: auto;">
            <div class="panel-heading">Progress Updates</div>
            <div class="panel-body">
                <div *ngFor="let task of tasks">

                    <p>{{task.desc}}</p>
                    <span class="act-sm">{{task.createdBy}}, {{task.createdAt|date:'short'}} </span><span class="act-bs"> {{task.percentage}}% completed</span>
                    <br/>
                    <button *ngIf="task.editable" type="button" (click)="editTaskDialog(task._id)" class="btn btn-success btn-sm">Edit <span class="glyphicon glyphicon-pencil"></span></button>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>





<p-dialog #aDialog header="Add Progress Update" [(visible)]="taskDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <app-task [(percentage)]="percentage" [activityId]="activity._id" (taskChanged)="taskCreated($event)" (taskClosed)="taskClosed($event)"></app-task>
</p-dialog>


<p-dialog header="Update Progress Update" [(visible)]="taskUpdateDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">

    <form name="form" autocomplete="off" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !desc.valid }">
            <label for="desc">Progress update</label>
            <textarea rows="4" cols="60" class="form-control" name="desc" [(ngModel)]="task.desc" #desc="ngModel" required></textarea>
            <div *ngIf="f.submitted && !desc.valid" class="help-block"> Progress update is required</div>
        </div>
        <div class="form-group">
            <label for="percentage">Completion (%)</label>
            <input id="percentage" name="percentage" type="text" pInputText [(ngModel)]="task.percentage" style="width:200px" />
            <p-slider name="percentage" [(ngModel)]="task.percentage" [style]="{'width':'200px'}"></p-slider>
        </div>
        <div class="form-group">
            <button [disabled]="loading" (click)="updateTask(task)" [disabled]="!f.form.valid" class="btn btn-primary">Update</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <button (click)="close()" class="btn btn-link">Cancel</button>
        </div>
    </form>
</p-dialog>