.ui-grid-row {
    text-align: center;
}

.ui-grid {
    margin: 10px 0px;
}

.ui-grid-row>div {
    padding: 4px 10px;
}

.em-sm-panel {
    height: 320px;
    width: 100%;
}

.left {
    width: 120px;
    float: left;
}

.right {
    margin-left: 150px;
}

.clear {
    clear: both;
}

.act-hd {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.act-ct {
    margin-bottom: 10px;
    padding-left: 40px;
}

.act-aligned {
    text-align: left!important;
}

.act-pad {
    padding: 5px;
}


/* tree view*/

.clt,
.clt ul,
.clt li {
    position: relative;
}

.clt ul {
    list-style: none;
    padding-left: 32px;
}

.clt li::before,
.clt li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.clt li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

.clt li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

.clt ul>li:last-child::after {
    height: 8px;
}

.act-box {
    border: 1px solid #BCE8F1;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
}

.act-sm {
    font-size: smaller;
    font-style: italic;
}

.act-bs {
    font-size: smaller;
    font-weight: bold;
}


/* unvisited link */

a:link {
    color: red;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

span.link:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}

.selected {
    font-weight: bold;
    font-size: 100%;
    color: green !important;
    text-decoration: underline;
}

hr {
    margin: 2px;
}

span.link {
    color: blue;
    cursor: pointer;
}