<div class="row">

    <div class="col-lg-3 pull-left act-pad {">

        <div class="act-box">

            <br/>
            <br/>
            <button class="btn btn-block btn-lg btn-info" (click)="createSubActivity(activity)" role="button"> Create Subactivity <span class="glyphicon glyphicon-tasks"></span></button>

            <div class="clear"></div>
            <br/>
            <br/>
            <button class="btn btn-block btn-lg btn-warning" (click)="showTaskDialog()" role="button">Progress Update <span class="glyphicon glyphicon-check"></span> </button>
            <div class="clear"></div>
        </div>
        <!--<div class="ui-grid-row act-aligned">
            <div *ngIf="childrenActivities.length > 0" class="ui-grid-col-12">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1" class="collapsed">Related Sub Activities</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li *ngFor="let anAct of childrenActivities" class="list-group-item list-group-item-success"><a style="cursor: pointer" (click)="viewActivity(anAct._id)">{{anAct.title}}</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="ui-grid-row act-aligned">

            <div *ngIf="parentActivity!=null" class="ui-grid-col-12">
                <div class="panel-group">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2" class="collapsed">Parent Activity</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-warning"> <a style="cursor: pointer" (click)="viewActivity(parentActivity._id)">{{parentActivity.title}}</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <div class="col-lg-6 act-pad ">

        <div class="act-box">
            <div class="clt">
                <ul>
                    <li>
                        <span *ngFor="let dpt of dept ; let isLast=last">{{dpt}}{{isLast ? '' : ', '}}</span>
                        <!--department -->
                        <ul *ngIf="parentActivity!=null">
                            <li>
                                {{parentActivity.title}}
                                <!--Parent-->
                                <ul>
                                    <li>
                                        <!--self -->
                                        {{activity.title}}
                                        <ul *ngIf="childrenActivities.length > 0">
                                            <li *ngFor="let item of childrenActivities">
                                                {{item.title}}
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <!-- if parent is not found -->
                        <ul *ngIf="parentActivity==null">

                            <li>
                                <!--self -->
                                {{activity.title}}
                                <ul *ngIf="childrenActivities.length > 0">
                                    <li *ngFor="let item of childrenActivities">
                                        {{item.title}}
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>



        <h3>{{activity.title}}</h3>

        <div class="clear"></div>
        <div class="left act-hd">Description </div>
        <div class="right act-ct">
            {{activity.desc}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Reference </div>
        <div class="right act-ct">
            {{category}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Department(s) </div>
        <div class="right act-ct">
            <span *ngFor="let dpt of dept ; let isLast=last">{{dpt}}{{isLast ? '' : ', '}}</span>
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Status </div>
        <div class="right act-ct">
            {{status}}
        </div>
        <div class="clear"></div>


        <div class="left act-hd act-ct">Start Date</div>
        <div class="right act-ct">
            {{activity.startDate|date }}
        </div>
        <div class="clear"></div>
        <div class="left act-hd act-ct">End Date</div>
        <div class="right act-ct">
            {{activity.endDate|date}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Phase</div>
        <div class="right act-ct">
            {{phase}}
        </div>
        <div class="clear"></div>




        <div class="left act-hd act-ct">Completion (%) </div>
        <div class="right act-ct">
            {{activity.percentage}}
        </div>
        <div class="clear"></div>

        <div class="left act-hd act-ct">Assignee </div>
        <div class="right act-ct">
            {{activity.assignee}}
        </div>
        <div class="clear"></div>
        <div *ngIf="!isChild">
            <div class="left act-hd act-ct">Sponsers </div>
            <div class="right act-ct">
                {{activity.sponsor}}
            </div>
            <div class="clear"></div>
            <div class="left act-hd act-ct">Focus Area </div>
            <div class="right act-ct">
                {{focus}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Escalation </div>
            <div class="right act-ct">
                <span *ngFor="let vis of visibility ; let isLast=last">{{vis}}{{isLast ? '' : ', '}}</span>
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Cost(MM)</div>
            <div class="right act-ct">
                {{activity.cost}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Benefit </div>
            <div class="right act-ct">
                {{activity.benefit}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct"> KPI</div>
            <div class="right act-ct">
                {{kpi}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Chartered </div>
            <div class="right act-ct">
                {{activity.chartered?'Yes':'No'}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Monitored </div>
            <div class="right act-ct">
                {{activity.monitored?'Yes':'No'}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct"> Next Step</div>
            <div class="right act-ct">
                {{activity.nextStep}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Out of Scope</div>
            <div class="right act-ct">
                {{activity.outOfScope}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Project Detail</div>
            <div class="right act-ct">
                {{activity.proDetail}}
            </div>
            <div class="clear"></div>

            <div class="left act-hd act-ct">Challenges</div>
            <div class="right act-ct">
                {{activity.challenge}}
            </div>
            <div class="clear"></div>
            <div class="left act-hd act-ct">Documentation Link</div>
            <div class="right act-ct">
                {{activity.docLink}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            Created by: {{activity.createdBy}} on {{activity.createdAt|date:'short'}}
        </div>
        <div class="clear"></div>
        <div class="left act-hd act-ct "></div>
        <div class="right act-ct act-sm">
            last updated by: {{activity.updatedBy}} on {{activity.updatedAt|date:'short'}}
        </div>
        <div class="clear"></div>

    </div>
    <div *ngIf="tasks.length > 0" class="col-lg-3 pull-right act-pad {">
        <div class="panel panel-warning" style="max-height: 900px;overflow-y: auto;">
            <div class="panel-heading">Progress Updates</div>
            <div class="panel-body">
                <div *ngFor="let task of tasks">

                    <p>{{task.desc}}</p>
                    <span class="act-sm">{{task.createdBy}}, {{task.createdAt|date:'short'}} </span><span class="act-bs"> {{task.percentage}}% completed</span>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>





<p-dialog #aDialog header="Add Progress Update" [(visible)]="taskDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <app-task [activityId]="activity._id" (taskChanged)="taskCreated($event)" (taskClosed)="taskClosed($event)"></app-task>
</p-dialog>